<div class="container">
    <div *ngFor="let tweet of get">
        <div class="card tweet-card mb-3 my-auto mx-auto"
            style="max-width: 32rem;margin-top: 10em;background-color: whitesmoke;">
            
            <div class="card-title"><img src="../../../assets/images/avatar.png" alt="..."><b>{{tweet.userName}}</b></div>
            <div class="card-body">
                <b><p class="card-title">Tweeted: {{ getPostedTweeetTime(tweet.createdDate)}}</p></b>
                <p class="card-text">{{tweet.tweet}}</p>
            </div>
            <div class="card-header" style="background-color: rgb(201, 196, 196);border-radius: 3px;">
                <p style="margin-left: 10px;" *ngFor="let reply of tweet.replies|keyvalue"><b>{{reply.key}}
                    Replied : </b>
                    {{reply.value}}</p>
            </div>
        </div>


    </div>
</div>