.register-div-border {
    border-color: olivedrab;
    border-radius: 10px;
}
.registerfont {
    font-family: cursive;
 }
 .text-design{
    font-family: cursive;
    font-size: 20px;
    margin-top: 20px;
 }
 .center {
    margin: 0 auto !important;
    float: none !important;
 }
 div {
	
    margin: auto;
}